body
{ 
 	background-color: rgb(200,215,215);
 
 }
 
 #Taxes {
 	height: 175px;
 	width:  450px;
 	position: absolute;
 	top: 2%;
 	left: 35%;
 
 }
 
p.infoText{
	font-family: serif;
	font: sans-serif;
	font-size: large;
	border-bottom-style:solid;
	border-width: 5px; 
	border-top-style: solid;
	border-bottom-color:  navy;
	border-top-color: navy;
}
 
button {
	position: absolute;
	right: 50%;
} 

 
